<div id="chat-block">
              <div class="title">Chat online</div>
              <ul class="online-users list-inline">
              {{#each onlinePepole as |person index|}}
                <li><a href="newsfeed-messages.html" title="{{person.name}}"><img src="{{person.photoURL}}" alt="user" class="img-responsive profile-photo" /><span class="online-dot" style="background:{{checker index}}"></span></a></li>
               {{/each}}
              </ul>
            </div><!--chat block ends-->
          