
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Select Image</h4>
        </div>
        <div class="modal-body" style="text-align: center;">
        
         <img class="my-image" id="de-croperId123" src="" />
         <img id="croppedImage" style="width:300px">
        </div>
        <div class="modal-footer">
       <input class="btn-primary col-sm-6 col-xs-12" type="file" id='chooseImage' onChange={{action 'imagesss' 'chooseImage'}}>
        
        <button class="btn-primary col-sm-4 col-xs-6" {{action 'croppie'}}>Crop and Save</button>
        <button class="btn-primary col-sm-2 col-xs-6" {{action 'closeModelzz'}}>Close</button>  
        </div>
      </div>
      
    </div>
  </div>
  

