
<div class="create-post">
              <div class="row">
               <form enctype="multipart/form-data" method="post" name="fileinfo">
                <div class="col-md-7 col-sm-7">
                  <div class="form-group">
                    <img src="{{user.photoURL}}" alt="" class="profile-photo-md" onerror="this.src='assets/images/defaultUser.png'"/>
                    <textarea name="desciption" id="post-text" cols="30" rows="1" class="form-control" placeholder="Write what you wish"></textarea>
                  </div>
                </div>
                <div class="col-md-5 col-sm-5">
               
                  <div class="tools">
                    <ul class="publishing-tools list-inline">
                     <!-- <li><a href="#"><i class="ion-compose"></i></a></li>-->
                      <li>
                      <p class="display-none"><input valueBinding='file' type='file' id='post-file-field' class="display-none" name="files"></p>
                      <a {{action 'chooseImage' 'post-file-field'}}><i class="ion-images"></i></a></li>
                     <!-- <li><a href="#"><i class="ion-ios-videocam"></i></a></li>
                      <li><a href="#"><i class="ion-map"></i></a></li>-->
                    </ul>
                    <button class="btn btn-primary pull-right" {{action 'post' new }}>Publish</button>
                  </div>
                </div>
                 </form>
              </div>
            </div>
            {{#if showModel}}
            {{image-cropper viewPort='post' closeModl=(action 'closeModel') succeses=(action 'reloader')}}
            {{/if}}