 <div class="profile-card" style="background-image: url('https://files.slack.com/files-tmb/T03N9TG4U-F4P78NBT8-278059fe59/1500x500_720.jpg')">
            	<img src="{{img}}" alt="user" class="profile-photo" />
            	<h5><a href="timeline.html" class="text-white">{{name}}</a></h5>
            	<a href="#" class="text-white"><i class="ion ion-android-person-add"></i> {{follower}} followers</a>
            </div><!--profile card ends-->