 <div class="profile-card">
            	<img src="{{img}}" alt="user" class="profile-photo" />
            	<h5><a href="timeline.html" class="text-white">{{name}}</a></h5>
            	<a href="#" class="text-white"><i class="ion ion-android-person-add"></i> {{follower}} followers</a>
            </div><!--profile card ends-->