.display-none{
	display:none;
}
.unlike{
	    color: #607D8B !important;
}
textarea#post-text:focus {
    height: 6em;
    width:18em;
}



@media only screen and (max-width: 768px){
    .chat-block ,#chat-block{
          display: none;
    }
}

.saturation-filter{
	-webkit-filter: contrast(150%);
    filter: contrast(150%);
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
}

#floating_alert {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5000;
}
#elm_alert{
     top: 10px;
    font-size: 17px;
}
#loader_alert {
    position: fixed;
    padding:10px 20px;
    top: 60px;
    right: 20px;
    z-index: 5000;
}
.alert-loader{
    color: #3F51B5;
       background-color: rgba(0, 188, 212, 0.88);
    border-color: #3F51B5;
}
.coverUpade{
    position: absolute;
    right: 20px;
    
    font-size: 12px;
}
.profileUpade: {
    position: relative;
    top: -41px;
}