 <div class="container">

      <!-- Timeline
      ================================================= -->
      <div class="timeline">
        <div class="timeline-cover" style="background-image: url('https://pbs.twimg.com/profile_banners/857524141/1392061774/1500x500')">

          <!--Timeline Menu for Large Screens-->
          <div class="timeline-nav-bar hidden-sm hidden-xs">
            <div class="row">
              <div class="col-md-3">
                <div class="profile-info">
                  <img src="{{model.user.photoURL}}" alt="" class="img-responsive profile-photo" />
                  <h3>{{model.user.displayName}}</h3>
                  <p class="text-muted">Creative Director</p>
                </div>
              </div>
              <div class="col-md-9">
                <ul class="list-inline profile-menu">
                <li>{{#link-to 'time-line'}}Timeline{{/link-to}}</li>
                  <li>{{#link-to 'about'}}About{{/link-to}}</li>
                  <li>{{#link-to 'friends'}}Friends{{/link-to}}</li>
                </ul>
                <ul class="follow-me list-inline">
                  <li>1,299 people following her</li>
                  <!--<li><button class="btn-primary">Add Friend</button></li>
                  -->
                </ul>
              </div>
            </div>
          </div><!--Timeline Menu for Large Screens End-->

          <!--Timeline Menu for Small Screens-->
          <div class="navbar-mobile hidden-lg hidden-md">
            <div class="profile-info">
              <img src="http://placehold.it/300x300" alt="" class="img-responsive profile-photo" />
              <h4>Sarah Cruiz</h4>
              <p class="text-muted">Creative Director</p>
            </div>
            <div class="mobile-menu">
              <ul class="list-inline">
                <li><a href="timline.html" class="active">Timeline</a></li>
                <li><a href="timeline-about.html">About</a></li>
                <li><a href="timeline-album.html">Album</a></li>
                <li><a href="timeline-friends.html">Friends</a></li>
              </ul>
              <button class="btn-primary">Add Friend</button>
            </div>
          </div><!--Timeline Menu for Small Screens End-->

        </div>
        <div id="page-contents">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-7">


             <!-- Post Create Box
            ================================================= -->
            {{post-and-share new=model.sendPost post=model.post user=model.user}}
            <!-- Post Create Box End-->
             
              <!-- Post Content
            ================================================= -->
           {{#each model.post as |po|}}
                {{time-line-post data=po user=model.user}}
             {{/each}}
           <!-- End Post Content -->

           </div>
          </div>
        </div>
      </div>
    </div>
